@import "../../scss/_theme.scss";

.app-method-gallery {
  position: relative;
  width: 100%;
  height: 100%;
}
.cycleButton {
  background-color: $app-dark;
  color: rgba(#333232, 0.87);
  border: 0;
  height: 150px;
  width: 75px;
  margin: -.5em;
  margin-top: 20%;
  font-size: 2.5em;

  &:hover {
    background-color: $app-light;
    color: #9e9e9e;
  };
}

#cycle-back {
  float: left;
}

#cycle-forward {
  float: right;
}

.recipeContainer {
  position: absolute;
  background-color: $app-dark;
  margin-top: 7%;
  margin-left: 5%;
  width: 45em;
  height: 30em;

  h1 {

  }
}
