<main class="app-method-gallery">
  <form novalidate>
        <button class="cycleButton" id="cycle-back" ng-click="appMethodGalleryCtrl.stepBackward()"><</button>
        <button class="cycleButton" id="cycle-forward" ng-click="appMethodGalleryCtrl.stepForward()">></button>

      <div class="recipeContainer">

        <h1>
          {{appMethodGalleryCtrl.currentGalleryMethod
            [appMethodGalleryCtrl.currentGalleryBrew["currentBrewMethod"]]
            [appMethodGalleryCtrl.currentBrewMethod].step}}
        </h1>

        <p>
          do this:
          <br>
          {{appMethodGalleryCtrl.currentGalleryMethod
            [appMethodGalleryCtrl.currentGalleryBrew["currentBrewMethod"]]
            [appMethodGalleryCtrl.currentBrewMethod].desc}}
        </p>
      </div>
  </form>

</main>
