@import "../../scss/_theme.scss";

.app-nav {
  font-size: 2em;
  width: 100%;
  margin-top: -3%;
}

nav {
  margin-left: 40%;
  margin-top: 0;
}

.navButtons {
  display: inline-block;

  &:hover {
  outline: white

  }
}
